In [18]:
import selenium
import pandas as pd
from selenium import webdriver

## Que-1

In [3]:
driver = webdriver.Chrome(r"D:\agent\oCT NEW\chromedriver.exe")
driver.get("https://www.naukri.com/")

<ipython-input-3-c96317125144>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\agent\oCT NEW\chromedriver.exe")

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

job_title=[]
location_name=[]
company_list=[]
experience_list=[]

<ipython-input-4-80ab3a82452b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-4-80ab3a82452b>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-4-80ab3a82452b>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [5]:
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
location_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-5-e4ef8587cdc3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-5-e4ef8587cdc3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-5-e4ef8587cdc3>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-5-e4ef8587cdc3>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [6]:
for i in title_tags:
        title=i.text
        job_title.append(title)
job_title[0:4]      
        
for i in company_tags:
        company=i.text
        company_list.append(company)
company_list[0:4]        
        
for i in experience_tags:
        exp=i.text
        experience_list.append(exp)

for i in location_tags:
        loc=i.text
        location_name.append(loc)

In [7]:
print(len(location_name ),len(experience_list),len(company_list),len(job_title))

20 20 20 20

In [8]:
jobs=pd.DataFrame({})
jobs['Profession']=job_title
jobs['Location']=location_name
jobs['Company']=company_list
jobs['Experience']=experience_list

jobs

,Profession,Location,Company,Experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Business Analyst/ Data Analyst- Capital Market...,"Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
2,Senior Data Analyst III,Bengaluru/Bangalore,Flipkart,2-4 Yrs
3,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
4,Customer Data Management Analyst,Bangalore/Bengaluru,Aspect,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
7,Senior Data Analyst for HANA Platform,Bangalore/Bengaluru,Intel,5-10 Yrs
8,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Slice,0-2 Yrs
10,DG - Business Analyst - Data Visualization & A...,Bangalore/Bengaluru,ExecBoardinAsia,5-10 Yrs
11,Hiring Business Data Analyst +ETL- Tech Mahind...,Bangalore/Bengaluru,Tech Mahindra,6-10 Yrs
12,Senior Data Analyst,Bangalore/Bengaluru,Rapido,1-6 Yrs
13,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
14,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
15,Openings For SQL Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",StackNexus Technologies India Pvt. Ltd,3-6 Yrs
16,Data Analyst,Bangalore/Bengaluru,Truecaller,2-4 Yrs
17,Data Analyst,Bangalore/Bengaluru,Atlassian,3-6 Yrs
18,Data Analyst (On Contract),Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
19,Manager - Data Analyst,Bangalore/Bengaluru,Genpact,5-10 Yrs

## Que--2

In [9]:
driver.get("https://www.naukri.com/")

In [10]:
search_job2 = driver.find_element_by_id('qsb-keyword-sugg')
search_job2.send_keys("Data scientist ")
search_loc2=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc2.send_keys("Banglore")

<ipython-input-10-c0f3f2d129bd>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job2 = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-10-c0f3f2d129bd>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc2=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [11]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-11-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [12]:
job_title2=[]
location_name2=[]
company_list2=[]
experience_list2=[]

In [13]:
title_tags2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

company_tags2= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

experience_tags2= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

location_tags2= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-13-ec648c0e6adb>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-13-ec648c0e6adb>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags2= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-13-ec648c0e6adb>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags2= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-13-ec648c0e6adb>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags2= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [14]:
for i in title_tags2:
        title2=i.text
        job_title2.append(title2)
job_title2= job_title2[:10]
        
for i in company_tags2:
        company2=i.text
        company_list2.append(company2)
company_list2=company_list2[:10]
        
for i in experience_tags2:
        exp2=i.text
        experience_list2.append(exp2)
experience_list2=experience_list2[:10]
        
for i in location_tags2:
        loc2=i.text
        location_name2.append(loc2)
location_name2= location_name2[:10]

In [15]:
print(len(location_name2),len(experience_list2),len(company_list2),len(job_title2))

10 10 10 10

In [16]:
jobs2=pd.DataFrame({})
jobs2['Profession']=job_title2
jobs2['Location']=location_name2
jobs2['Company']=company_list2
jobs2['Experience']=experience_list2
jobs2

,Profession,Location,Company,Experience
0,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,5-7 Yrs
1,Deputy Manager - Data Scientist,Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED,3-7 Yrs
2,Tcs Hiring For Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services Ltd.,3-8 Yrs
3,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys,4-9 Yrs
4,Senior data scientist,Bangalore/Bengaluru,Compile Inc,5-10 Yrs
5,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited,4-8 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,Visa,4-9 Yrs
7,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru,Samya.AI A FRACTAL Entity,3-8 Yrs
8,Data scientist,Bangalore/Bengaluru,Superior Group,5-10 Yrs
9,Data Scientist,Bangalore/Bengaluru,Thoucentric Technology Pvt ltd,1-6 Yrs

## Que -- 3

In [77]:
driver.get("https://www.naukri.com/")

In [78]:
search_job3 = driver.find_element_by_id('qsb-keyword-sugg')
search_job3.send_keys("Data scientist ")
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-78-80f4f51a2d27>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job3 = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-78-80f4f51a2d27>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [79]:
job_title3=[]
location_filter3=[]
company_list3=[]
experience_list3=[]
filteer3 =[]
salary3=[]
location_name3=[]

In [80]:
locdelhi=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")

locdelhi.click()

<ipython-input-80-e8d6c7cb863c>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  locdelhi=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")

In [82]:
salary = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

salary.click()

<ipython-input-82-bfa1cc1f8aa2>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  salary = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

In [83]:
title_tags3     = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tags3   = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tags3 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
location_tags3  = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-83-7955d862745a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags3     = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-83-7955d862745a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags3   = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-83-7955d862745a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags3 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-83-7955d862745a>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags3  = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [88]:
for i in title_tags3:
        title3=i.text
        job_title3.append(title3)
job_title3=job_title3[:10]

for i in company_tags3:
        company3=i.text
        company_list3.append(company3)
company_list3=company_list3[:10]   

for i in experience_tags3:
        experi3=i.text
        experience_list3.append(experi3)
experience_list3=experience_list3[:10]

for i in location_tags3:
        loc3=i.text
        location_name3.append(loc3)
location_name3=location_name3[:10]

In [89]:
print(len(location_name3),len(experience_list3),len(company_list3),len(job_title3))

10 10 10 10

In [90]:
jobs3=pd.DataFrame({})
jobs3['Profession']=job_title3
jobs3['Location']=location_name3
jobs3['Company']=company_list3
jobs3['Experience']=experience_list3
jobs3

,Profession,Location,Company,Experience
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",Wipro,4-9 Yrs
2,Data Scientist | Senior Data Scientist,"Delhi / NCR, DelhiNCR",4bell Technology,6-11 Yrs
3,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,5-10 Yrs
4,Data Scientist: Advanced Analytics,Delhi / NCR,IBM India Pvt. Limited,5-10 Yrs
5,Sr. Data Scientist,Gurgaon/Gurugram,Genpact,4-9 Yrs
6,Senior Manager - Forecasting data scientist,Gurgaon/Gurugram,Genpact,5-10 Yrs
7,Hiring Data Scientist || Cians Analytics,Gurgaon/Gurugram,Cians Analytics Pvt. Ltd.,1-3 Yrs
8,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
9,Data Scientist/Senior Scientist - Python/Spark...,Gurgaon/Gurugram,Connexions,2-6 Yrs

## Que-- 4

In [105]:
driver.get("https://www.flipkart.com/")

In [106]:
loc4=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
loc4.send_keys("sunglasses")
button4=driver.find_element_by_class_name("L0Z3Pu")
button4.click()

<ipython-input-106-f8b65c5004ec>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc4=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
<ipython-input-106-f8b65c5004ec>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button4=driver.find_element_by_class_name("L0Z3Pu")

In [112]:
brand_title    =[]
price_list      =[]
description_list=[]
discount_list   =[]

In [113]:
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
descri= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri   = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

<ipython-input-113-9bb52da743c8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-113-9bb52da743c8>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descri= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-113-9bb52da743c8>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri   = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-113-9bb52da743c8>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

In [114]:
for i in brand:
        bname4 =i.text
        brand_title.append(bname4)
for i in descri:
        descr4 =i.text
        description_list.append(descr4)
for i in pri:
        priname4 =i.text
        price_list.append(priname4)
for i in discount_tags:
        disnam4 =i.text
        discount_list.append(disnam4)

In [115]:
print(len(brand_title ),len(description_list),len(price_list),len(discount_list))

40 40 40 40

In [122]:
flip4=pd.DataFrame({})
flip4['Brand name']=brand_title
flip4['Price']=price_list
flip4['Description']=description_list
flip4['discount']=discount_list

In [135]:
urls=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in urls[0:2]:
    print(i.get_attribute('href'))

https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1
https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3

<ipython-input-135-616e3079abe2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=driver.find_elements_by_xpath("//a[@class='ge-49M']")

In [136]:
url2='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [137]:
driver.get(url2)
brand_title2=[]
price_list2=[]
description_list2=[]
discount_list2=[]

In [138]:
brand2  = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
descri2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri2    = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_tags2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

<ipython-input-138-4a871a6d97b5>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand2  = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-138-4a871a6d97b5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descri2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-138-4a871a6d97b5>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri2    = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-138-4a871a6d97b5>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_tags2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

In [139]:
for i in brand2:
        bname=i.text
        brand_title2.append(bname)        
for i in descri2:
        bname=i.text
        description_list2.append(bname)        
for i in pri2:
        priname=i.text
        price_list2.append(priname)        
for i in discount_tags2:
        disname=i.text
        discount_list2.append(disname)
print(len(brand_title2 ),len(description_list2),len(price_list2),len(discount_list2))

40 40 40 40

In [143]:
flip411=pd.DataFrame({})
flip411['Brand name']=brand_title2
flip411['Price']=price_list2
flip411['Description']=description_list2
flip411['discount']=discount_list2
df3 = flip4.append(flip411, ignore_index=True)

,Brand name,Price,Description,discount
0,SRPM,₹188,UV Protection Wayfarer Sunglasses (56),85% off
1,PIRASO,₹212,UV Protection Aviator Sunglasses (54),86% off
2,Elligator,₹248,UV Protection Round Sunglasses (54),90% off
3,PIRASO,₹187,UV Protection Aviator Sunglasses (54),88% off
4,New Specs,₹259,UV Protection Rectangular Sunglasses (Free Size),87% off
...,...,...,...,...
75,PIRASO,₹187,UV Protection Aviator Sunglasses (54),88% off
76,kingsunglasses,₹299,"UV Protection, Night Vision Wayfarer Sunglasse...",82% off
77,Fastrack,₹639,Polarized Retro Square Sunglasses (Free Size),20% off
78,kingsunglasses,₹211,"UV Protection, Mirrored Round Sunglasses (54)",82% off
79,Fastrack,"₹1,799",UV Protection Wayfarer Sunglasses (54),10% off

In [144]:
url3='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [145]:
driver.get(url3)
brand_title3=[]
price_list3=[]
description_list3=[]
discount_list3=[]

In [147]:
brand3= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
descri3= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri3= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_tags3= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

for i in brand3:
        bname=i.text
        brand_title3.append(bname)
brand_title3=brand_title3[:20]

for i in descri3:
        bname=i.text
        description_list3.append(bname)
description_list3=description_list3[:20]

for i in pri3:
        priname=i.text
        price_list3.append(priname)
price_list3=price_list3[:20]
  
for i in discount_tags3:
        disname=i.text
        discount_list3.append(disname)
discount_list3=discount_list[:20]

print(len(brand_title3 ),len(description_list3),len(price_list3),len(discount_list3))

<ipython-input-147-2f161a036bf7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand3= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-147-2f161a036bf7>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descri3= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-147-2f161a036bf7>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri3= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-147-2f161a036bf7>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_tags3= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

20 20 20 20

In [148]:
flip422=pd.DataFrame({})
flip422['Brand name']=brand_title3
flip422['Price']=price_list3
flip422['Description']=description_list3
flip422['discount']=discount_list3
final = df3.append(flip422, ignore_index=True)
final

,Brand name,Price,Description,discount
0,SRPM,₹188,UV Protection Wayfarer Sunglasses (56),85% off
1,PIRASO,₹212,UV Protection Aviator Sunglasses (54),86% off
2,Elligator,₹248,UV Protection Round Sunglasses (54),90% off
3,PIRASO,₹187,UV Protection Aviator Sunglasses (54),88% off
4,New Specs,₹259,UV Protection Rectangular Sunglasses (Free Size),87% off
...,...,...,...,...
95,PIRASO,₹179,UV Protection Aviator Sunglasses (55),88% off
96,ROYAL SON,₹664,"UV Protection, Gradient Butterfly Sunglasses (57)",84% off
97,PHENOMENAL,₹287,"UV Protection, Mirrored Clubmaster Sunglasses ...",85% off
98,AISLIN,₹446,"UV Protection, Gradient Cat-eye Sunglasses (61)",64% off
99,ROZZETTA CRAFT,₹499,"Polarized, Night Vision, Riding Glasses Sports...",88% off

#### Here is the final 100 list.

## Que--5

In [10]:
driver = webdriver.Chrome(r"D:\agent\oCT NEW\chromedriver.exe")

<ipython-input-10-25c4e55f26c2>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\agent\oCT NEW\chromedriver.exe")

In [11]:
url5='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url5)

In [13]:
rating_title5_1=[]
full_summary5_1=[]
summary5_1=[]

In [14]:
rating_tags= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
summ_tags= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
shortsumm_tags= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

for i in rating_tags:
        bname=i.text
        rating_title5_1.append(bname)
for i in summ_tags:
        info=i.text
        full_summary5_1.append(info)
for i in shortsumm_tags:
        name=i.text
        summary5_1.append(name)
        
print(len(summary5_1),len(full_summary5_1),len(rating_title5_1))

<ipython-input-14-b04124f9ea2a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-14-b04124f9ea2a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-14-b04124f9ea2a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

10 10 10

In [17]:
df=pd.DataFrame({'product_summary':summary5_1,'description':full_summary5_1,'rating_title': rating_title5_1})
df

,product_summary,description,rating_title
0,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Best in the market!,Great iPhone very snappy experience as apple k...,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
5,Fabulous!,This is my first iOS phone. I am very happy wi...,5
6,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...,5
7,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
8,Good choice,So far it’s been an AMAZING experience coming ...,4
9,Highly recommended,What a camera .....just awesome ..you can feel...,5

In [19]:
urls=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in urls:
    print(i.get_attribute('href'))

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=2
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=3
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=4
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=5
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=6
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=7
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=8
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=9
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=10

<ipython-input-19-a3c48d8ba3b8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=driver.find_elements_by_xpath("//a[@class='ge-49M']")

In [20]:
pgurl2='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=2'
pgurl3='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=3'
pgurl4='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=4'
pgurl5='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=5'
pgurl6='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=6'
pgurl7='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=7'
pgurl8='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=8'
pgurl9='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=9'
pgurl10='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=10'

In [21]:
rating_title2=[]
full_summary2=[]
summary2=[]
rating_title3=[]
full_summary3=[]
summary3=[]
rating_title4=[]
full_summary4=[]
summary4=[]
rating_title5=[]
full_summary5=[]
summary5=[]
rating_title6=[]
full_summary6=[]
summary6=[]
rating_title7=[]
full_summary7=[]
summary7=[]
rating_title8=[]
full_summary8=[]
summary8=[]
rating_title9=[]
full_summary9=[]
summary9=[]
rating_title10=[]
full_summary10=[]
summary10=[]

In [22]:
driver.get(pgurl2)

In [25]:
rating_tags2= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags2:
        bname=i.text
        rating_title2.append(bname)

        summ_tags2= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags2:
        info=i.text
        full_summary2.append(info)
        
        shortsumm_tags2= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags2:
        name=i.text
        summary2.append(name)

<ipython-input-25-e5fd44480d9d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags2= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-25-e5fd44480d9d>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags2= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-25-e5fd44480d9d>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags2= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [24]:
df2=pd.DataFrame({'product_summary':summary2,'description':full_summary2,'rating_title': rating_title2})
df2

,product_summary,description,rating_title
0,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
1,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
2,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...,5
3,Classy product,Totally in love with this ❤ the camera quality...,5
4,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5
6,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
7,Highly recommended,It's my first time to use iOS phone and I am l...,5
8,Worth every penny,It’s been almost a month since I have been usi...,5
9,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5

In [26]:
driver.get(pgurl3)

In [27]:
rating_tags3= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags3:
        bname=i.text
        rating_title3.append(bname)

        summ_tags3= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags3:
        info=i.text
        full_summary3.append(info)
        
        shortsumm_tags3= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags3:
        name=i.text
        summary3.append(name)

<ipython-input-27-443af692ef63>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags3= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-27-443af692ef63>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags3= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-27-443af692ef63>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags3= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [28]:
df3=pd.DataFrame({'product_summary':summary3,'description':full_summary3,'rating_title': rating_title3})
df3

,product_summary,description,rating_title
0,Terrific,Really worth of money. i just love it. It is t...,5
1,Wonderful,This is my first ever I phone. Before this I w...,5
2,Nice product,Awesome Phone. Slightly high price but worth. ...,4
3,Perfect product!,"Battery backup is extraordinary, camera is dec...",5
4,Brilliant,"I have migrated from OP 7pro... and trust me, ...",5
5,Classy product,Superb Product !!!\nA big and worthy upgrade f...,5
6,Must buy!,It’s an amazing product from apple and the cam...,5
7,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...,4
8,Wonderful,I just directly switch from iphone 6s to iphon...,5
9,Perfect product!,After 1 month use I found camera quality best ...,5

In [31]:
driver.get(pgurl4)

In [32]:
summ_tags4= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags4:
        info=i.text
        full_summary4.append(info)
        
        shortsumm_tags4= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags4:
        name=i.text
        summary4.append(name)
rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']") 
for i in rat:
        bame=i.text
        rating_title4.append(bame)

<ipython-input-32-aea2264d16fa>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags4= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-32-aea2264d16fa>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags4= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-32-aea2264d16fa>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

In [33]:
df4=pd.DataFrame({'product_summary':summary4,'description':full_summary4,'rating_title': rating_title4})
df4

,product_summary,description,rating_title
0,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...,5
1,Simply awesome,It's very high performances devise i am like t...,5
2,Great product,Well you all know the specifications . One of ...,5
3,Terrific purchase,The built quality is not very premium.\nThe ba...,5
4,Mind-blowing purchase,This will help you more. See if you are planni...,5
5,Excellent,Amazing camera and feel super machine I am not...,5
6,Simply awesome,Really good actually this is my first apple pr...,5
7,Good quality product,it is very good at performance. Camera is best...,4
8,Very poor,Reviewing again after 5 months. At the beginni...,1
9,Classy product,We are on apple ecosystem for almost eight yea...,5

In [34]:
driver.get(pgurl5)

In [35]:
rating_tags5= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags5:
        bname=i.text
        rating_title5.append(bname)

        summ_tags5= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags5:
        info=i.text
        full_summary5.append(info)
        
        shortsumm_tags5= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags5:
        name=i.text
        summary5.append(name)

<ipython-input-35-82a687b0ac42>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags5= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-35-82a687b0ac42>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags5= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-35-82a687b0ac42>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags5= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [36]:
df5=pd.DataFrame({'product_summary':summary5,'description':full_summary5,'rating_title': rating_title5})
df5

,product_summary,description,rating_title
0,Perfect product!,It is just awesome mobile for this price from ...,5
1,Must buy!,Best Apple iPhone that i have bought at a very...,5
2,Fabulous!,I can say I'm damn impressed with iPhone 11. A...,5
3,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ...",5
4,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...,5
5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...,5
6,Must buy!,I rate this product 5* as it has got amazing u...,5
7,Great product,Again back to apple iphone after a gap of 2-3 ...,5
8,Very Good,impressive super phone and best in class camer...,4
9,Classy product,Well while switching from android to iOS the f...,5

In [37]:
driver.get(pgurl6)

In [38]:
rating_tags6= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags6:
        bname=i.text
        rating_title6.append(bname)

        summ_tags6= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags6:
        info=i.text
        full_summary6.append(info)
        
        shortsumm_tags6= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags6:
        name=i.text
        summary6.append(name)

<ipython-input-38-2a64731dd3b8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags6= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-38-2a64731dd3b8>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags6= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-38-2a64731dd3b8>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags6= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [39]:
df6=pd.DataFrame({'product_summary':summary6,'description':full_summary6,'rating_title': rating_title6})
df6

,product_summary,description,rating_title
0,Perfect product!,"In love with this iphone great performance,cam...",5
1,Just wow!,Best in class. Battery backup is good especial...,5
2,Awesome,Very excited to have this phone. This phone ha...,5
3,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...,4
4,Terrific purchase,Its Very awesome product working and good came...,5
5,Awesome,I am using this phone for 5 days and its one o...,5
6,Classy product,Best and amazing product.....phone looks so pr...,5
7,Brilliant,Excellent camera and display touching very nic...,5
8,Terrific,I got this beast today. And I must say the pic...,5
9,Perfect product!,Awesome purchase. Amazing phone with good batt...,5

In [40]:
driver.get(pgurl7)

In [41]:
summ_tags7= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags7:
        info=i.text
        full_summary7.append(info)
        
        shortsumm_tags7= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags7:
        name=i.text
        summary7.append(name)
        
        rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']") 
for i in rat:
        bame=i.text
        rating_title7.append(bame)

<ipython-input-41-e49da8fb51e8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags7= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-41-e49da8fb51e8>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags7= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-41-e49da8fb51e8>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

In [42]:
df7=pd.DataFrame({'product_summary':summary7,'description':full_summary7,'rating_title': rating_title7})
df7

,product_summary,description,rating_title
0,Awesome,"Always love the apple products, upgraded from ...",5
1,Perfect product!,Value for money\n5 star rating\nExcellent came...,5
2,Very poor,"Please DONT buy from here,\n\nI purchased Appl...",1
3,Fabulous!,awesome phone to have. it has got many smart f...,5
4,Excellent,Its a fabulous mobile look awesome performance...,5
5,Must buy!,Dear friends... I want to share my experience ...,5
6,Value-for-money,Just got this iphone 11\nAnd it is most powerf...,4
7,Best in the market!,The best all rounder iphone. Flipkart is doing...,5
8,Brilliant,Amazing phone and on great deal I received wit...,5
9,Terrific purchase,finally an iPhone with very nice battery backu...,5

In [43]:
driver.get(pgurl8)

In [44]:
   rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']") 
for i in rat:
        bame=i.text
        rating_title8.append(bame)

        summ_tags8= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags8:
        info=i.text
        full_summary8.append(info)
        
        shortsumm_tags8= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags8:
        name=i.text
        summary8.append(name)

<ipython-input-44-6713ea87442a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
<ipython-input-44-6713ea87442a>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags8= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-44-6713ea87442a>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags8= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [45]:
df8=pd.DataFrame({'product_summary':summary8,'description':full_summary8,'rating_title': rating_title8})
df8

,product_summary,description,rating_title
0,Good quality product,I'm switching this phone to oppo reno 10x zoom...,4
1,Best in the market!,Damn this phone is a blast . Upgraded from and...,5
2,Perfect product!,Worth the money’ starting first from its perfo...,5
3,Awesome,I dreamt about this day from a long time.... G...,5
4,Value-for-money,I'm Really happy with the product\nDelivery wa...,4
5,Just wow!,Great iphone.\nI am writing this review after ...,5
6,Worthless,Phone is awesome no doubt. But Camera & Displa...,1
7,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...,5
8,Excellent,It was amazing experience for me. Honestly i a...,5
9,Nice product,If you are looking for a premium phone under 5...,4

In [46]:
driver.get(pgurl9)

In [47]:
rating_tags9= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags9:
        bname=i.text
        rating_title9.append(bname)

        summ_tags9= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags9:
        info=i.text
        full_summary9.append(info)
        
        shortsumm_tags9= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags9:
        name=i.text
        summary9.append(name)

<ipython-input-47-6ff77045d6c6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags9= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-47-6ff77045d6c6>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags9= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-47-6ff77045d6c6>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags9= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [48]:
df9=pd.DataFrame({'product_summary':summary9,'description':full_summary9,'rating_title': rating_title9})
df9

,product_summary,description,rating_title
0,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...,5
1,Wonderful,Super and marvellous phone look very cute and ...,5
2,Highly recommended,Thanks Flipkart For this amazing deal! I had a...,5
3,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...,5
4,Terrific,"I bought iPhone 11 On March 2021, And I am Wri...",5
5,Excellent,Just go for it.\nThis phone is really amazing....,5
6,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...,5
7,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...,5
8,Excellent,A perfect phone and a good battery super camer...,5
9,Worth every penny,Undoubtedly Iphone 11 is the most successful m...,5

In [49]:
driver.get(pgurl10)

In [50]:
rating_tags10= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags10:
        bname=i.text
        rating_title10.append(bname)

        summ_tags10= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in summ_tags10:
        info=i.text
        full_summary10.append(info)
        
        shortsumm_tags10= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in shortsumm_tags10:
        name=i.text
        summary10.append(name)
        
print(len(summary10),len(full_summary10),len(rating_title10))

<ipython-input-50-6b2706ef3d5f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags10= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-50-6b2706ef3d5f>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summ_tags10= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-50-6b2706ef3d5f>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shortsumm_tags10= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

10 10 10

In [51]:
df10=pd.DataFrame({'product_summary':summary10,'description':full_summary10,'rating_title': rating_title10})
df10

,product_summary,description,rating_title
0,Pretty good,I've used this phone for over a month now and ...,4
1,Fabulous!,I purchased the iPhone 11 a month back. I must...,5
2,Fabulous!,Everything is perfect pictures come out so cle...,5
3,Brilliant,A wort full value for money decision it’s . Si...,5
4,Just wow!,The ultimate performance\nCamera is superb\nTh...,5
5,Terrific purchase,I use a Note10+ and have been using both iOS a...,5
6,Awesome,The phone is completely good\nAs far as camera...,5
7,Decent product,Everything u ll like it when u use this iPhone...,3
8,Awesome,Can’t beat the software and hardware integrati...,5
9,Does the job,phone is good but in display is 720p lcd in th...,3

In [52]:
make1  = df.append(df2, ignore_index=True)
make2  =make1.append(df3, ignore_index=True)
make3  =make2.append(df4, ignore_index=True)
make4  =make3.append(df5, ignore_index=True)
make5  =make4.append(df6, ignore_index=True) 
make6  =make5.append(df7, ignore_index=True)
make7  =make6.append(df8, ignore_index=True)
make8  =make7.append(df9, ignore_index=True)
make9  =make8.append(df10, ignore_index=True)
make9

,product_summary,description,rating_title
0,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Best in the market!,Great iPhone very snappy experience as apple k...,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
95,Terrific purchase,I use a Note10+ and have been using both iOS a...,5
96,Awesome,The phone is completely good\nAs far as camera...,5
97,Decent product,Everything u ll like it when u use this iPhone...,3
98,Awesome,Can’t beat the software and hardware integrati...,5
99,Does the job,phone is good but in display is 720p lcd in th...,3

#### Final 100 List

## Q6

In [26]:
driver= webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.flipkart.com/")

<ipython-input-26-bf785a0bdbf8>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\chromedriver.exe")

In [30]:
search_b=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

search_b.send_keys("sneakers")
button=driver.find_element_by_class_name("L0Z3Pu")

button.click()

<ipython-input-30-3e3d2b7e6ad6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_b=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
<ipython-input-30-3e3d2b7e6ad6>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button=driver.find_element_by_class_name("L0Z3Pu")

In [29]:
brand_title=[]
price_list=[]
description_list=[]
discount_list=[]

In [ ]:
brand= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand:
        bname=i.text
        brand_title.append(bname)
descri_tags= driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
df=[]
rat = driver.find_elements_by_xpath("//div[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
for i in rat:
       bae=i.text
        df.append(ba
                  f

In [32]:
descri_tags= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
descri_tags[0:4]   ##IRpwTa

rat = driver.find_elements_by_xpath("//div[@class='IRpwTa' or @class='IRpwTa _2-ICcC']") 
for i in rat:
       bae=i.text
        descri_tags.append(bae)
## OR GATE
for i in descri_tags:
        title=i.text
        description_list.append(title)
description_list

IndentationError: unexpected indent (<ipython-input-32-253b80168dd7>, line 7)

In [33]:
discount_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_tags[0:4]
for i in discount_tags:
        disname=i.text
        discount_list.append(disname)

<ipython-input-33-94ed56551bb6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [34]:
print(len(brand_title ),len(description_list),len(price_list),len(discount_list))

0 0 0 0

## Que-7

In [55]:
driver= webdriver.Chrome(r"C:\chromedriver.exe")

<ipython-input-55-e53bf63c102a>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\chromedriver.exe")

In [56]:
driver.get("https://www.myntra.com/shoes")

In [57]:
loc=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
## for price filter
loc.click()

<ipython-input-57-90ddabd76f40>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

In [58]:
colour=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
## for Black colour
colour.click()

<ipython-input-58-d7253efa5a2c>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  colour=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [60]:
brand_title7=[]
price_list7=[]
description_list7=[]

In [61]:
brand= driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand:
        bname=i.text
        brand_title7.append(bname)
descri= driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in descri:
        bname=i.text
        description_list7.append(bname)
rat = driver.find_elements_by_xpath("//div[@class='product-price' or @class='product-price']") 
for i in rat:
        bame=i.text
        price_list7.append(bame)
        
print(len(brand_title7),len(description_list7),len(price_list7))

<ipython-input-61-90d40c33011a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand= driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-61-90d40c33011a>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descri= driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-61-90d40c33011a>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat = driver.find_elements_by_xpath("//div[@class='product-price' or @class='product-price']")

50 50 50

In [63]:
myntra=pd.DataFrame({})
myntra['Brand name']=brand_title7
myntra['Price']=price_list7
myntra['Description']=description_list7
myntra.tail()

,Brand name,Price,Description
45,DAVINCHI,Rs. 7990,Men Solid Leather Formal Derbys
46,Heel & Buckle London,Rs. 7693Rs. 10990(30% OFF),Men Solid Leather Formal Penny Loafers
47,H&M,Rs. 6999,Chunky Leather Chelsea Boots
48,Ruosh,Rs. 6990,Men Leather Slip-On Shoes
49,J.FONTINI,Rs. 6990,Men Leather Formal Loafers

In [64]:
urls=driver.find_elements_by_xpath("//li[@class='pagination-number']/a[1]")
for i in urls:
    print(i.get_attribute('href'))

<ipython-input-64-dab8bdc7fa48>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=driver.find_elements_by_xpath("//li[@class='pagination-number']/a[1]")

https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=2
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=3
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=4
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=5
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=6
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=7
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=8
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=9
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=10

In [66]:
url2='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2'
driver.get(url2)
brand_title2=[]
price_list2=[]
description_list2=[]

In [67]:
brand2= driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand2:
        bname=i.text
        brand_title2.append(bname)
descri2= driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in descri2:
        bname=i.text
        description_list2.append(bname)
rat2 = driver.find_elements_by_xpath("//div[@class='product-price' or @class='product-price']") 
for i in rat2:
        bame=i.text
        price_list2.append(bame)
len(price_list2)
## OR GATE

print(len(brand_title2),len(description_list2),len(price_list2))

<ipython-input-67-5a873926526c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand2= driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-67-5a873926526c>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descri2= driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-67-5a873926526c>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat2 = driver.find_elements_by_xpath("//div[@class='product-price' or @class='product-price']")

50 50 50

In [69]:
myntra2=pd.DataFrame({})
myntra2['Brand name']=brand_title2
myntra2['Price']=price_list2
myntra2['Description']=description_list2
myntra2.tail()

               Brand name                      Price            Description
45                   Puma  Rs. 2599Rs. 6499(60% OFF)      Men Running Shoes
46                Khadims  Rs. 994Rs. 999(Rs. 5 OFF)      Men Walking Shoes
47  HRX by Hrithik Roshan  Rs. 1349Rs. 4499(70% OFF)  Men Atom Running Shoe
48                  Crocs  Rs. 1797Rs. 2995(40% OFF)   Women Open Toe Flats
49                 Campus  Rs. 1359Rs. 1699(20% OFF)      Men Running Shoes

In [71]:
final_myntra = myntra.append(myntra2, ignore_index=True)
final_myntra.tail()

               Brand name                      Price            Description
95                   Puma  Rs. 2599Rs. 6499(60% OFF)      Men Running Shoes
96                Khadims  Rs. 994Rs. 999(Rs. 5 OFF)      Men Walking Shoes
97  HRX by Hrithik Roshan  Rs. 1349Rs. 4499(70% OFF)  Men Atom Running Shoe
98                  Crocs  Rs. 1797Rs. 2995(40% OFF)   Women Open Toe Flats
99                 Campus  Rs. 1359Rs. 1699(20% OFF)      Men Running Shoes

## Q--8

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
driver= webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.amazon.in/")

<ipython-input-80-b7e2c95c165f>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\chromedriver.exe")

In [82]:
search_job = driver.find_element_by_id('twotabsearchtextbox')
search_job.send_keys("Laptop ")
click_button = driver.find_element_by_id('nav-search-submit-button')
click_button.click()

<ipython-input-82-a74bcbd4e62e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('twotabsearchtextbox')
<ipython-input-82-a74bcbd4e62e>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_button = driver.find_element_by_id('nav-search-submit-button')

## Q--9

In [88]:
driver= webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.ambitionbox.com/")
job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")  ## Working.
job.click()
job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")  ## Working.
job.send_keys("Data scientist ")
search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span")
search_btn.click()

<ipython-input-88-960f57b6d8e4>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\chromedriver.exe")
<ipython-input-88-960f57b6d8e4>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")  ## Working.
<ipython-input-88-960f57b6d8e4>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")  ## Working.
<ipython-input-88-960f57b6d8e4>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span")

### Q--10

In [19]:
driver= webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.ambitionbox.com/")

<ipython-input-19-c1562f70d6f1>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\chromedriver.exe")

In [20]:
company_list=[]
experience_list=[]
record_list=[]
minimum_list=[]
average_list=[]

In [21]:
loc=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")  ## Working.
loc.click()
search_job = driver.find_element_by_id('jobProfileSearchbox')
search_job.send_keys("Data scientist ")

<ipython-input-21-6d20c8a9b8d6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")  ## Working.
<ipython-input-21-6d20c8a9b8d6>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('jobProfileSearchbox')

In [22]:
loca=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[2]/div/div[6]")

loca.click()

<ipython-input-22-88ae761630c8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loca=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[2]/div/div[6]")

In [23]:
company_tags= driver.find_elements_by_xpath("//div[@class='name']")
company_tags

<ipython-input-23-b64f41c7c61b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags= driver.find_elements_by_xpath("//div[@class='name']")

[<selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="2b1bd329-7488-4e5b-b48c-1aa7d37085a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="c1f1444e-5902-4980-8c9b-58463a73d070")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="d64b10c4-be25-4544-9308-8b42cc90ca00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="aa580828-5c22-44c6-81f3-fabc59475c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="ec896229-5e89-492f-b5d8-8870369ecede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="dbb6a5fa-b4c1-4148-984d-0501c208ae7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="7078e13c-7d73-428f-a000-6dd1602efb9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="e7904c63-9a87-40c3-bef1-cf962c61aeea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="0a04d08b-3b9b-4769-b620-ff42548f3698")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7274c54750c4a746dbf9a823645094d5", element="f6354236-065b-42f5-972a-90c74f835e06")>]

In [24]:
for i in company_tags:
        company=i.text
        company_list.append(company)
experience_tags= driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in experience_tags:
        exp=i.text
        experience_list.append(exp)
record_tags= driver.find_elements_by_xpath("//div[@class='name']/span[1]")
for i in record_tags:
        rec=i.text
        record_list.append(rec)
minimum_tags= driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in minimum_tags:
        mini=i.text
        minimum_list.append(mini)

<ipython-input-24-2e9f8930dbd8>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags= driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
<ipython-input-24-2e9f8930dbd8>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  record_tags= driver.find_elements_by_xpath("//div[@class='name']/span[1]")
<ipython-input-24-2e9f8930dbd8>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minimum_tags= driver.find_elements_by_xpath("//div[@class='value body-medium']")

In [25]:
average_tags= driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in average_tags:
        avg=i.text
        average_list.append(avg)
average_list

<ipython-input-25-0768d4048f70>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  average_tags= driver.find_elements_by_xpath("//p[@class='averageCtc']")

['₹ 4.7L',
 '₹ 4.1L',
 '₹ 4.0L',
 '₹ 3.9L',
 '₹ 3.9L',
 '₹ 3.9L',
 '₹ 3.8L',
 '₹ 3.6L',
 '₹ 3.6L',
 '₹ 3.5L']